* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

.nav-link b {
    color: #0f549e;
}

.nav-link {
    margin: 10px 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #0f549e;
}

.navbar-brand img {
    height: 80px;
}

.btn{
    border-radius: 0px;
    border-color: #0f549e;
    color: #0f549e;
    font-size: 1.1rem;
    padding: 10px 20px;
}



.btn-outline-success:hover {
    background-color: #0f549e;
    color: #fff;
    --bs-btn-hover-border-color: #0f549e;
}

.btn-exp {
    padding: 0.5em 3% 0.5em 3%;

}


.footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container ul li {
    color: black;
}

.border-under {
    border-bottom: 2px solid #ddd;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.icon {
    font-size: 20px;
    color: #0f549e;
}

.icon:hover {
    color: white;
}

.link-body-emphasis {
    margin-top: 3%;
    margin-right: 3%;
    text-align: right;
}

.icon-favorites {
    color: gold;
    font-size: 120%;
}

footer {
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    background-color: #f3f1f1;
}



.album {
    background-color: white;
    text-align: center;
}

.container h2 {
    margin-bottom: 3.5%;
}

.info-buttons {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.icon-arrow {
    vertical-align: -.110em;
    font-size: 20px;
}

.btn-group {
    margin-left: 24%;
}

.foto-perfil {
    margin: 5% 10%;
}

.card {
    border-radius: 0%;
}

.card:hover {
    border: 2px solid;
    border-color: #0f549e;
}

.card-body {
    padding-top: 0%;
    border-radius: 0%;
}

.card-title {
    text-align: center;
}

.card-text-title {
    font-size: 120%;
    margin-bottom: 1%;
}

.card-text-subtitle {
    color: gray;
    font-size: 94%;
}

.box-info {
    margin-bottom: 10%;
}

.section-info-box {
    background-image: url(img/city-nature.jfif);
    background-size: cover;
    background-position: center;
    height: 55vh;
    /* Altura ajustada */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    /* Necessário para o pseudo-elemento ::before */
}

.section-info-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.section-info-box * {
    z-index: 2;
}

.title-section-info-box {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-text-box h3 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.3;
    color: #e0e0e0;
    max-width: 1100px;
}

.explorar-butao {
    text-decoration: none;
    padding: 7px 34px;
    border-radius: 0px;
    font-size: large;
    background-color: #fff;
    border-color: #fff;
    color: black;
}

.explorar-butao:hover {
    background-color: #000;
    border-color: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.container-center {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Para ocupar a altura total do contêiner */
    position: relative;
    /* Permite flexibilidade para alinhamento */
}

.form-control {
    width: 30%;
    height: 20%;
    border-radius: 5%;
    text-align: center;

}

.form-control:focus {
    box-shadow: transparent;

}

#Erro-Message {
    text-align: center;
    color: red;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
   
    bottom: 3rem;
    z-index: 10;
}
.carousel-inner img {
    padding: 10em 1em;
    width: 50%; 
    object-fit: cover;
    margin-left: auto; 
    margin-right: 0; 
}
.carousel-caption {
    padding: 10% 2%;
}
.carousel-caption h1 {
    font-size: 50px;
   font-weight: 700;
   color: #000;
   padding-bottom: 4%;
}
.carousel-item {
    height: 45rem;
    background-color: #ededed;


}
.opacity-75 {
   max-width: 50%;
   color: #000;
}
.featurette-divider {
    margin: 5rem 0;
}


.featurette-heading {
    letter-spacing: -.05rem;
}

.col-info-membros {
    text-align: center;
    margin-top: 10% !important;
}

.caixa-info:hover {
    border-radius: 0%;
}

.info-membros-text-title{
    text-align: center;
    font-weight: bold;
}
.info-membros-text{
    text-align: left;
    margin-top: 5%;
    font-size: 20px;
    width: 110%;
}














form {
    border-bottom: 3px solid #0f549e;
    margin-top: 1%;
    font-size: 11pt;
}

form fieldset {
    margin: 0px 2% 1% 2%;
    padding: 1%;
    border: 1px solid #0f549e;
    display: block;
}

form legend {
    font-weight: bold;
    font-size: 12pt;
}

form label {
    display: inline-block;
    font-size: 11pt;
    height: 24px;
    vertical-align: middle;
    margin: 0px 2px;
    padding: 2px 4px;
}

#grpGeral label {
    width: 150px;
    text-align: left;
}

#grpGeral input {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin: 1px 2px;
    padding: 2px 5px;
    border: 2px solid #0f549e;
    width: calc(100% - 900px);
    background-color: white;
    font-size: 13px;
}
#grpGeral input:hover {
    border: 3px solid #0f549e;
}

#grpGeral input:focus {
    border: 2px dashed #0f549e;
    outline: none;
}

#grpGeral input::selection {
    background-color: #0f549e;
    color: #ffffff;
}

#conjuntoField small input {
    width: 100px;
}

textarea {
    height: 100px;
    width: 50%;
    resize: none;
    margin-top: 1%;
    padding: 0px;
    border: 2px solid #0f549e;
}

textarea:hover {
    border: 3px solid #0f549e;
}

textarea::selection {
    background-color: #0f549e;
    color: #ffffff;
}

textarea:focus {
    border: 2px dashed #0f549e ;
    outline: none;
}

#grpBotoes {
    text-align: center;
}

.conjuntoField input{
    height: 35px !important;
}

.btn-outline-success{
    --bs-btn-active-bg: #0f549e;
    --bs-btn-active-border-color: #0f549e;
}























/* Responsividade */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu ul {
        flex-direction: column;
        gap: 0;
    }

    .menu ul li {
        border-bottom: 1px solid #ddd;
    }

    .menu ul li a {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .logo img {
        max-height: 40px;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-height: 30px;
    }
}